---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

const pageTitle = "Dragan Pecanac";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<!-- replace the html a tags with the Navigation component

		<a href="/">Home</a>
        <a href="/blog/">Blog</a>
		<a href="/about/">About</a>
		-->
		
		<Navigation/>
		<h1>{pageTitle}</h1>
		<Footer/>
	</body>
</html>
